/* Iphone(480 x 640) */
@media screen and (max-width: 670px) {
    .sidebar {
        display: none;
    }
    .header__input {
        display: none;
    }
    .header__search {
        padding: 0 25px 0 0 !important;
        background-color: white !important;
        color: #2c2b2b !important;
    }
    .header__center {
        flex: none !important;
    }
    .header__center-wrapper {
        border: none !important;
        box-shadow: none !important;
    }
    .header__right {
        flex: none !important;
    }
    .header__icons-mic {
        display: none !important;
    }
    .header__icons.video {
        display: none !important;
    }
    .header__icons.app {
        display: none !important;
    }

    /* .main__bottom-wrapper {
        justify-content: center;
    } */

    .container {
        display: block !important;
    }
    .watch__wrapper-video {
        width: 100%;
    }
    .watch__wrapper {
        padding: 0 !important;
        margin: 10px auto;
    }

    .main__bottom {
        padding: 0 !important;
    }
    .video__wrapper {
        width: 100% !important;
    }
    .video__img {
        width: 100% !important;
        height: 182px !important;
    }
    .watch {
        height: 80vh !important;
    }
    .watch__bottom {
        display: none;
    }
    .watch__wrapper {
        height: 35vh !important;
    }
    .watch__top {
        margin: 0 10px !important;
    }
    .watch__top-block {
        display: block !important;
    }
    .watch__top-time {
        display: flex;
        align-items: center;
    }
    .watch__top-time--text {
        font-size: 12px !important;
        margin-bottom: 10px;
    }
    .watch__top-icon {
        margin-left: 0 !important;
        flex-wrap: wrap;
        justify-content: center;
    }
    .watch__center {
        margin: 0 10px;
    }
    .watch__center-own {
        margin-left: 10px !important;
    }
    .watch__center-more {
        padding: 10px 48px !important;
    }
    .watch__center-more--hidden {
        display: none !important;
    }

    .videoSmall {
        display: block !important;
        padding: 0 !important;
        width: 100% !important;
    }
    .videoSmall__img {
        width: 100% !important;
        height: 165px !important;
    }
    .videoSmall__block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .videoSmall__name {
        margin-right: 6px;
    }
    /* channel */
    .channel__info-top--wrapper {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
    .channel__info {
        padding: 0 !important;
    }
    .button {
        position: relative !important;
        margin-top: 6px;
    }
    .channel__info-top--title {
        display: none !important;
    }
    .channel__slider {
        display: none;
    }
    .channel__bottom-heading {
        display: none;
    }
    .channel__bottom-wrapper {
    }
    .videoAll {
        width: 100% !important;
        flex-wrap: nowrap !important;
        margin: 0 10px;
    }
    .videoAll__img {
        width: 150px !important;
        height: 103px !important;
    }
    .videoAll__block {
        margin-left: 10px;
    }
    /* signin */
    .signin__wrapper {
        border: none !important;
        margin: 0 !important;
    }
    .signin__name-account--text {
        margin: 0 !important;
    }
    .signinv2__wrapper {
        border: none !important;
        padding: 0 40px !important;
        margin: 2vh auto !important;
    }
    .signinv2__right {
        display: none !important;
    }
}
